#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: rgb(21, 10, 45);
  color: white;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  scroll-behavior: smooth;
}

.mask-home-image {
  mask-image: linear-gradient(to bottom, transparent 0%, rgb(202, 19, 19) 5%, rgb(223, 27, 27) 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgb(227, 20, 20) 5%, rgb(239, 17, 17) 100%);
}
.mask-image {
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, transparent);
}